/* Begin of reseting browser default  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reseting browser default  */







body{
    background-color: rgb(248, 248, 248);
    color: white;
    padding: 15px;
}
#nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
    /* padding-right: 5px; */
}
h1{
    color: rgb(162, 162, 162);
    font-size: 1rem;
    padding-left: 3px;
    text-align: left;

}
#display{
    padding: 10px 19px 10px 0;
    height: 15px;

}
@font-face{
    font-family: waterfall;
    src:url('/fonts/digital-7.italic.ttf');

}
#result{   
    font-family: waterfall;
    width: 502px;
    height: 53px;
text-align: right;
    padding: 0;
    font-size: 3rem;
    font-weight:500;
    background-color: #333;
    color: white;
}


#container{
    padding: 10px 0 10px 0;
    width: 508px;
    height: 497px;
    background-color: #333;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
#keysContainer{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    
}
.keys{
    border: grey solid 1px;
    width: 125px;
    height: 65px;
    font-size: 1.1rem;
}
.digits{
    background-color: rgb(31, 31, 31);
}
.iqual{
    font-size: larger;
    
}
#keysContainer div :hover,  #keysContainer p :hover{
    background-color: rgb(73, 73, 73);
}

.keys p{
    padding-top: 25px;
    width: 125px;
    height: 40px;
}
#backspace{
    width: 125px;
    height: 65px;
    background-color: #333;
    padding: 0 10px 0 0;
    border: solid 1px #333;
}
#backspace :hover{
    width: 125px;
    height: 40px;
    background-color:  rgb(73, 73, 73);
}
.fa-delete-left{
color: white;
}